/* #region InformationSheet */

#AllowedInteractions-dropdown-label {
  color: var(--tmd-text);
}

/* #endregion InformationSheet */

/* #region Title */

#title-subscreen-h1,
#input-nickname-group {
  color: var(--tmd-text);
}

#title-subscreen-titlebuttons .button.title-button[active] {
  --button-color: var(--tmd-accent);
  --hover-color: var(--tmd-accent-hover);
  background-color: var(--tmd-accent);
}

/* #endregion Title */

